
@{
    ViewBag.Title = "Index";
}

<span class="label label-info">@Html.ActionLink("Add User", "AddUser", "Admin")</span>
<span class="label label-info">@Html.ActionLink("View Feedback", "ViewFeedback", "Admin")</span>
<span class="label label-info">@Html.ActionLink("View User's Details", "ViewDetails", "Admin")</span>

