@model List<E_banking.Models.feedback>
@{
    ViewBag.Title = "ViewFeedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/view.css" rel="stylesheet" />
<link href="~/Content/backIcon.css" rel="stylesheet" />

<body id="viewFeedbackPage">
    <a href=@Url.Action("Index","Admin")><span class="glyphicon glyphicon-chevron-left back" aria-hidden="true"></span></a>
    <h1>users' Feedbacks</h1>
    <div class="container">
        <div id="tableContainer" class="tableFixHead">
            <table id="transactions_table">
                <thead>
                    <tr>
                        <th>User Account-Number</th>
                        <th>Feedback</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {
                        <tr>
                            <td>@x.user_id</td>
                            <td>@x.message</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>




